@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 3.5rem 1rem;
  background-color: #f8f2e7;
  font-family: 'Oswald', sans-serif;
  color: #303030;
}

.maxWidth {
  max-width: 960px;
}

.title {
  font-size: 1.85rem;
  letter-spacing: 0.06rem;
}

.sub-title {
  font-size: 1.15rem;
  letter-spacing: 0.06rem;
}

.text {
  font-weight: 300;
  letter-spacing: 0.06rem;
  color: #414141;
}

.separator {
  width: 100px;
  margin: 25px 0;
  border-bottom: 3px solid #d1c9b9;
}

.btns-container > .btn {
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn {
  padding: 8px;
  border: 2px solid #b1ab9f;
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  color: white;
  background-color: #b1ab9f;
}

.btn-alpha {
  padding: 0;
  width: 28px;
  height: 28px;
}

.btn-sm-red {
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  color: #f35454;
}

.btn-sm-red:hover {
  background-color: #e97e7e;
  color: white;
}

.row {
  display: flex;
  align-items: center;
}

.row > * {
  margin-right: 20px;
}

.cipherPlainPairContainer {
  display: flex;
  align-items: center;
}

.cipherPlainPairContainer > p {
  margin-right: 4px;
}

.margin-btm-s {
  margin-bottom: 0.3rem;
}

.margin-btm-m {
  margin-bottom: 1rem;
}

.margin-btm-l {
  margin-bottom: 2rem;
}